@font-face {
    font-family: 'Droid Sans Mono';
    font-style: normal;
    font-weight: bold;
    src: local('Droid Sans Mono'), url('DroidSans-Mono-webfont.woff') format('woff');
}

body {
    margin: 1em;
    font-family: 'Droid Sans Mono';
    background-color: #00000f;
    color: white;
}
