common:
  broker: localhost
  operator: operator@example.com

alert-server:
  mail:
    enabled: yes
    default-recipients: jross@redhat.com, operator@example.com
  irc:
    enabled: no

file-server:

harness-server:

model-server:

master-server:
  alert-server-enabled: yes
  console-server-enabled: yes
  file-server-enabled: yes
  harness-server-enabled: yes
  model-server-enabled: yes
