# The settings in comments reflect default values.

# common:
#   broker: amqp://localhost
#   operator: [none]
#   log-level: info

# alert-server:
#   mail:
#     enabled: yes
#     default-recipients: [empty list]

# file-server:

# harness-server:

# model-server:

# master-server:
#   alert-server-enabled: no
#   file-server-enabled: yes
#   harness-server-enabled: yes
#   model-server-enabled: no
