body {
  margin: 1em;
  padding: 0;
  background-color: #fff;
  font-size: 0.9em;
  font-family: "DejaVu LGC Sans", "Bitstream Vera Sans", "Lucida Grande",
               "Trebuchet MS", verdana, helvetica, arial, sans-serif;
}

h1 {
  font-size: 1.1em;
}

h2 {
  font-size: 1em;
}

h3 {
  font-size: 0.9em;
}

a {
  text-decoration: none;
  color: #06c;
}

a.selected {
  color: black;
}

img {
  border: none;
}
