owners: [eallen@redhat.com, tmckay@redhat.com, jross@redhat.com]

branches:
  trunk:
    url: http://svn.fedorahosted.org/svn/cumin/trunk
  stability:
    url: http://svn.fedorahosted.org/svn/cumin/branches/stability

tests:
  update:
  build:
    requires: update

users:
  jross@redhat.com:
    login: justi9
  eallen@redhat.com:
    login: eallen
  tmckay@redhat.com:
    login: tmckay
