owners: [gsim@redhat.com, tross@redhat.com]

branches:
  trunk:
    url: http://svn.apache.org/repos/asf/qpid/trunk
#  "0.10":
#    url: http://svn.apache.org/repos/asf/qpid/branches/0.10
#  mrg_1.3.0.x:
#    url: git://mrg1.lab.bos.redhat.com/qpid.git?mrg_1.3.0.x

tests:
  update:
  build:
    requires: update
  test-cpp:
    requires: build
  # test-cpp-dist:
  #   requires: build
  #   frequency: daily # hourly
  # test-cpp-long:
  #   requires: build
  #   frequency: daily
  test-cpp-store:
    requires: build
    frequency: daily # hourly
  test-python:
    requires: build
  test-java:
    requires: build
    frequency: daily # hourly
  # test-java-cpp:
  #   requires: build
  #   frequency: daily # hourly
  # test-java-cpp-cluster:
  #   requires: build
  #   frequency: daily
  # test-java-cpp-noprefetch:
  #   requires: build
  #   frequency: daily
  # test-java-cpp-ssl:
  #   requires: build
  #   frequency: daily
  # test-java-cpp-store:
  #   requires: build
  #   frequency: daily

users:
  aconway@redhat.com:
    login: aconway
  astitcher@redhat.com:
    login: astitcher
  cctrieloff@redhat.com:
    login: cctrieloff
  eallen@redhat.com:
    login: eallen
  gsim@redhat.com:
    login: [gsim, gordonsim]
  jonathan.robie@redhat.com:
    login: jonathan
  jross@redhat.com:
    login: justi9
  kgiusti@redhat.com:
    login: kgiusti
  kim.vdriet@redhat.com:
    login: kpvdr
  mgoulish@redhat.com:
    login: mgoulish
  nsantos@redhat.com:
    login: [nsantos, nunofsantos]
  rafaels@redhat.com:
    login: [rhs, rschloming]
  tross@redhat.com:
    login: [tedross, tross]
